@import url(https://fonts.bunny.net/css?family=nunito:400,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Use overflow:scroll on your container to enable scrolling: */

.lock-div {
    max-width: 100%;
    max-height: 90vh;
    overflow: auto;
}

.lock-div textarea {
    margin: 0;
    height: 100%;
    resize: none;
}


/* Use position: sticky to have it stick to the edge
   * and top, right, or left to choose which edge to stick to: */

.lock-div thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
}

.lock-div tbody th {
    position: -webkit-sticky;
    text-align: start;
    padding-left: 1em;
    /* for Safari */
    position: sticky;
    left: 0;
}


/* To have the header in the first column stick to the left: */

.lock-div thead th:first-child {
    left: 0;
    z-index: 2;
}


/* Just to display it nicely: */

.lock-div thead th {
    @apply bg-blue-500;
    border-top: none;
    color: #FFF;
    padding: 0em 2em;
    /* Ensure this stays above the emulated border right in tbody th {}: */
    z-index: 1;
}


.lock-div tbody th {
    @apply whitespace-nowrap bg-blue-100;
    z-index: 2;
}

.lock-div table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
}

.lock-div td,
.lock-div th {
    padding: 0;
    border-left: solid black 1px;
    border-top: solid black 1px;
}

.lock-div td {
    position: relative;
    width: 5em;
}

.lock-div td textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lock-div td:first-child, .lock-div th:first-child {
    border-left: none;
}